@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-lime-50: oklch(0.986 0.1873 124);
  --color-lime-100: oklch(0.967 0.1873 124);
  --color-lime-200: oklch(0.938 0.1873 124);
  --color-lime-300: oklch(0.897 0.1873 124);
  --color-lime-400: oklch(0.841 0.1873 124);
  --color-lime-500: oklch(0.768 0.1873 124);
  --color-lime-600: oklch(0.648 0.1873 124);
  --color-lime-700: oklch(0.532 0.1873 124);
  --color-lime-800: oklch(0.453 0.1873 124);
  --color-lime-900: oklch(0.405 0.1873 124);
  --color-lime-950: oklch(0.274 0.1873 124);
}

@keyframes activate {
  0% {
    opacity: var(--base, 0.1);
    color: inherit;
  }
  50% {
    color: var(--color-lime-100);
    opacity: 1;
  }
  100% {
    color: inherit;
    opacity: 1;
  }
}

@layer components {
  @supports (animation-timeline: scroll()) {
    .text-reveal > .char {
      animation: activate both linear 1ms;
      animation-timeline: scroll(block nearest);

      animation-range: entry
        calc(var(--start) * ((var(--idx) + 1) / (var(--_chars) + 1))) entry
        calc(
          var(--start) *
          (
            (var(--idx) * var(--offset-multiplier) + var(--offset)) /
            (var(--_chars) + 1)
          )
        );
      opacity: var(--base);
    }

    @supports not (animation-timeline: scroll()) {
      .text-reveal > .char {
        opacity: 1;
        color: inherit;
      }
    }
  }
}
